<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="chkEnableCalibration" value="1" />
        <add key="chkAutosaveCalibration" value="0" />
        <add key="chkAutosaveCalibrationOnLightgun" value="1" />
        <add key="chkReadCalibration" value="1" />
        <add key="ResetExposureDuration" value="1000" />
    </appSettings>
</configuration>